.Home{
  width: 100%;
}
                                  /*Section Slogan Image*/      


.slog-img{
    width: 100%;
    height: 590px;
    display: flex;
  }
  
  .slogan{
    width: 35%;
    max-height: 91.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid  #a31000;
  }
  
  .slogan h1{
    font-size: 34px;
    font-weight: 600;
  }
  
  .slogan h1 span{
    color: #cf0707;
    font-style: italic;
  }
  
  .img-container-home{
    width: 65%;
    max-height: 598px;
  }
  
  .img-header-home{
    width: 100%;
    height: auto;
  }

                                /*Section Qui sommes-nous*/ 

 .are-us{
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
  }
  
  .are-us-container{
    width: 61%;
    height: 530px;
    display: flex;
    margin-left: 220px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
    
  .are-us-content{
    width: 92%;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .are-us-content h1{
    font-size: 36px;
    font-weight: 600;
    color:  #a31000;
  }
  
  .line-are{
    width: 90px;
    height: 3px;
    background-color:  #a31000;
  }
  
  .are-us-content p{
    font-size: 19px;
    line-height: 6vh;
  }
  
  .are-us-content p span{
    font-weight: 700;
    color: #a31000;
  }
  
                            /*Section Nos services*/ 
  



  .services{
    width: 100%;
    min-height: 690px;
    display: flex;
    flex-direction: column;
  }
  
  .services .banniere{
    width: 100%;
    height: 290px;
    display: flex;
    top: 10px;
    flex-direction: column;
    align-items: center;
    background-color:  #a31000;
  }
  
  .services .banniere .title-service{
    width: 80%;
    height: 240px;
    display: flex;
    background-color:  #a31000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .services .banniere .title-service h1{
    font-size: 34px;
    color: white;
    font-weight: 500;
  }
  
  .services .banniere .title-service h3{
    font-size: 19px;
    text-align: center;
    line-height: 5vh;
    color: white;
    font-weight: 400;
  }
  
   .bloc-bu-home{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .bloc-bu-home .blocH{
    width: 250px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
  }
  
  .bloc-bu-home .blocH .bloc-bu-content{
    width: 90%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bloc-bu-home .blocH .bloc-bu-content h2{
    color:  #a31000;
    font-weight: 500;
  }
  
  .bloc-bu-home .blocH .bloc-bu-content p{
    text-align: center;
    display: none;
    font-size: 17px;
    line-height: 5vh;
  }
  
  .bloc-bu-home .blocH .bloc-bu-content .bu-btn{
    color:  black;
    margin-top: 30px;
    text-decoration: none;
    transition: 0.5s;
  }

  .bloc-bu-home .blocH .bloc-bu-content .bu-btn:hover{
    color:  #a31000;
    margin-top: 30px;
    text-decoration: none;
  }
  
                             /*Section Nos References*/ 


  .references{
    width: 100%;
    min-height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .references h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }
  
  .references-content{
    width: 80%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .ref{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .ref-bloc{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ref-bloc img{
    width: 30%;
    height: auto;
  }
  
  .ref-bloc{
    width: 40%;
    height: auto;
  }
  
  .ref-bloc .plus{
    width: 50%;
    height: auto;
  }

  .ref-bloc .cf{
    width: 37%;
    height: auto;
  }

  .ref-bloc .al{
    width: 20%;
    height: auto;
  }

  .Home-mob,.Home-tab{
    display: none;
  }
  
  @media (min-width : 320px) and (max-width : 480px) {

          /* Initilisation affichage écran */

    .Home-pc,.Home-tab{
      display: none;
    }

    .Home-mob{
      display: block;
      width: 100%;
      height: 600vh;
    }
          /*Section Slogan Image Mob*/

    .img-mob{
      width: 100%;
      height: 210px;
    }
    
    .img-container-home{
      width: 100%;
      height: 300px;
    }

    .img-container-home img{
      width: 100%;
      height: auto;
    }
    

          /*Section Qui sommes-nous Mob*/ 

    .are-us-mob{
      width: 100%;
      min-height: 700px;
      max-height: 730px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .are-us-back-mob{
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(235, 232, 232);
    }

    .are-us-content-mob{
      width: 90%;
      height: 95%;
    }

    .are-us-content-mob h1{
      font-size: 24px;
      color: #a31000;
    }

    .are-us-content-mob .line-are-mob{
      width: 10%;
      height: 4px;
      background-color: #a31000;

    }

    .are-us-content-mob p{
      font-size: 17px;

    }

    .are-us-content-mob .mission-Home,.objec-Home{
      font-weight: 700;
    }

          /*Section Nos Services Mob*/
    .services-mob{
      width: 100%;
      min-height: 1500px;
      max-height: 1550px;
      display: flex;
      flex-direction: column;
      background-color: white;
    }

    .services-mob .banniere-mob{
      width: 100%;
      margin-top: 20px;
      max-height: 440px;
      min-height: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a31000;
    }

    .title-service-mob{
      width: 89%;
      height: 89%;
    }

    .banniere-mob h1{
      font-size: 24px;
      color: white;
      text-align: center;
    }

    .banniere-mob h3{
      font-size: 16.3px;
      color: white;
      font-weight: 300;
    }

    .bloc-bu-home-mob{
      width: 100%;
      height: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: white;
    }

    .blocH-mob{
      width: 65%;
      height: 200px;
      background-color: rgba(228, 228, 228, 0.726);
    }

    .bloc-bu-content-mob{

      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .bloc-bu-content-mob h2{
      color: #a31000;
      font-size: 22px;
    }

    .bu-btn-mob{
      color: black;
      transition: 0.5s ease;
    }

    .bu-btn-mob:hover{
      color: #a31000;
    }

    .references-mob{
      width: 100%;
      height: 1070px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      background-color: rgb(236, 235, 235);
    }

    .references h1{
      font-size: 24px;
    }

    .references-content-mob{
      width: 100%;
      height: 80%;
    }

    .ref-mob{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

    }

    .ref-bloc-mob{
      width: 60%;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .ref-bloc-mob .almob{
      width: 30%;
      height: auto;
    }
    
    .ref-bloc-mob .dpdmob{
      width: 55%;
      height: auto;
    }
  
    .ref-bloc-mob .geomob{
      width: 60%;
      height: auto;
    }
  
    .ref-bloc-mob .jojomob{
      width: 50%;
      height: auto;
    }
  
    .ref-bloc-mob .ratpmob{
      width: 70%;
      height: auto;
    }

    .ref-bloc-mob .cfmob{
      width: 55%;
      height: auto;
    }
  



          /*Section Nos References Mob*/ 


  }

  @media (min-width : 370px) and (max-width : 480px) {

    .are-us{
      height: 560px;
    }

    .are-us-container{
      margin-top: 10%;
    }
  }

  @media (min-width : 481px) and (max-width : 768px) {

  }

  @media (min-width : 400px) and (max-width : 480px) {
    
    .are-us-container{
      height: 400px;
    }

    .are-us-content{
      height: 300px;
    }

  }
