.Home{
  width: 100%;
}

.slog-img{
    width: 100%;
    height: 600px;
    display: flex;
  }
  
  .slogan{
    width: 35%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #970101;
  }
  
  .slogan h1{
    font-size: 34px;
    font-weight: 600;
  }
  
  .slogan h1 span{
    color: #cf0707;
    font-style: italic;
  }
  
  .img{
    width: 65%;
    height: 598px;
  }
  
  .img-hd{
    width: 100%;
    height: auto;
  }
  
  .are-us-container{
    width: 57%;
    height: 450px;
    display: flex;
    margin-left: 220px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .are-us{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
  }
  
  
  .are-us-content{
    width: 92%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .are-us-content h1{
    font-size: 35px;
    font-weight: 600;
    color: #970101;
  }
  
  .line-are{
    width: 11%;
    height: 3px;
    background-color: #970101;
  }
  
  .are-us-content p{
    font-size: 19px;
    line-height: 6vh;
  }
  
  .are-us-content p span{
    font-weight: 700;
  }
  
  .services{
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
  }
  
  .banniere{
    width: 100%;
    height: 350px;
    display: flex;
    top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #970101;
  }
  
  .banniere .titleH {
    width: 80%;
    height: 220px;
    display: flex;
    background-color: #970101;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .banniere .titleH h1{
    font-size: 35px;
    color: white;
    font-weight: 500;
  }
  
  .banniere .titleH h3{
    font-size: 19px;
    text-align: center;
    line-height: 5vh;
    color: white;
    font-weight: 400;
  }
  
   .bloc-bu{
    width: 100%;
    height: 200px;
    display: flex;
    position: absolute;
    margin-top: 260px;
    justify-content: space-around;
    align-items: center;
  }
  
   .bloc-bu .bloc{
    width: 279px;
    height: 329px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ebebeb;
  }
  
   .bloc-bu .bloc .bloc-bu-content{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .bloc-bu .bloc .bloc-bu-content a{
    text-decoration: none;
  }
  
  .bloc h2{
    color: #970101;
    font-weight: 500;
  }
  
  .bloc p{
    text-align: center;
    font-size: 17px;
    line-height: 5vh;
  }
  
  .bu-btn{
    color: #970101;
    text-decoration: none;
  }
  
  .references{
    width: 100%;
    height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #f2f2f2;
  }
  
  .references h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  
  .references-content{
    width: 80%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .ref{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .ref-bloc{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ref-bloc img{
    width: 60%;
    height: auto;
  }
  
  .ref-bloc .menos{
    width: 40%;
    height: auto;
  }
  
  
  .ref-bloc .plus{
    width: 85%;
    height: auto;
  }
  
  