
.Mention-container{
    width: 100%;
    height: 1300px;
    background-color: #ececec;
}

.head-ban{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ban{
    width: 100%;
    max-height: 180px;
    background-color: #970101;
}

.title{
    max-width: 450px;
    height: 130px;
    display: flex;
    position: absolute;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.title p{
    color: #970101;
    font-size: 45px;
}

.mention{
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mention h1{
    font-size:  26px;
    font-weight: 550;
    color: #970101;
}

.droit,.info{
    margin-left: 150px;
    min-width: 65%;
    min-height: 250px;
}

.design{
    min-width: 65%;
    max-height: 200px;
    margin-left: 150px;
}

.droit p,.info p,.design p{
    font-size: 19px;
}


@media (max-width : 480px){

    .Mention-container{
        width: 100%;
        height: 1400px;
    }
    
    .head-ban{
        width: 100%;
        height: 300px;
    }

    .ban{
        width: 100%;
        min-height: 150px;
    }

    .title{
        width: 80%;
        height: 120px;
    }

    .title p{
        font-size: 35px;
    }

    .mention{
        margin-top: 40px;
        height: 1000px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .droit{
        width: 80%;
        margin-left: 0%;
        height: 470px;
    }

    .info{
        width: 80%;
        margin-left: 0%;
        height: 460px;
    }

    .design{
        width: 80%;
        margin-left: 0%;
        height: 180px;

    }

    .droit h1,.design h1,.info h1{
        font-size: 23px;
    }

    .droit p,.design p,.info p{
        font-size: 17px;
    }

}