.Ipa{
    background-color: #ececec;
}

.ban{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #970101;
}

.ban .title{
    width: 450px;
    height: 130px;
    display: flex;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ban .title p{
    color: #970101;
    font-size: 45px;
}

.intro{
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-head{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}
.intro img{
    width: 600px;
    height: 400px;
}

.intro .infoI{
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.intro .infoI p{
    font-size: 24px;
    line-height: 7vh;
}

.prospectI{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    background-color: #970101 ;
}

.need-savoir{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.needIpa{
    width: 450px;
    height: 370px;
    display: flex;
    position: absolute;
    top: 1200px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.lineIpa{
    width: 10%;
    height: 4px;
    background-color: #970101;
}

.need-contentIpa{
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.need-contentIpa h1{
    color: #970101;
}

.need-infoIpa-mob{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.missionIpa{
    width: 450px;
    height: 420px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 159%;
    margin-left: 150px;
    background-color: white;

}

.mission-contentIpa{
    width: 400px;
    height: 400px;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.mission-contentIpa h1{
    color: #970101;
}

.mission-infoIpa{
    width: 400px;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.info-up{
    width: 100%;
    height: 100px;
}

.info-up .ex{
    margin-left: 22px;

}

.info-down{
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

.info-down .ex{
    margin-left: 22px;

}

.savoir-faireIpa{
    width: 450px;
    height: 520px;
    display: flex;
    position: absolute;
    margin-top: 108%;
    margin-left: 54%;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.savoir-faire-contentIpa{
    width: 400px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.savoir-faire-contentIpa h1{
    color: #970101;
}

.savoir-faire-infoIpa {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ipa-mob{
    display: none;
}


@media (min-width : 320px) and (max-width : 480px){

    .Ipa-content{
        display: none;
    }

    .ipa-mob{
        width: 100%;
        height: 2370px;
        display: block;
    }
        
    .intro-mobI{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro-head-mobI{
        width: 100%;
        height: 580px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .intro-mobI img{
        width: 100%;

        height: auto;
    }

    .info-mobI{
        margin-bottom: 20px;
        width: 86%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .info-mobI p{
        font-size: 18px;
    }
    
    .intro .infoI{
        width: 40%;
        height: 400px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    
    .prospect-mobIpa{
        width: 100%;
        height: 1630px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #970101 ;
    }
    
    .need-mobI{
        width: 80%;
        height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .lineIpaN{
        width: 10%;
        margin-bottom: 10px;
        height: 4px solid #970101 ;
    }
    
    .lineIpa-mob{
        width: 10%;
        height: 4px;
        background-color: #970101;
    }
    
    .need-contentIpa-mob{
        width: 89%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .need-contentIpa-mob h1{
        color: #970101;
        font-size: 18px;
    }

    .need-infoIpa-mob p{
        font-size: 15px;
    }
    
    .need-infoIpa-mob{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }

    .mission-mobI{
        width: 80%;
        height: 460px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
    }

    .mission-contentIpa{
        width: 89%;
        height: 98%;
    }

    .mission-contentIpa h1{
       font-size: 18px;
       color: #970101;
    }
    
    .mission-infoIpa-mob{
        width: 92%;
        height: 94%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .info-up-mobI{
        width: 100%;
        height: 150px;
    }

    .info-up-mobI h1{
      font-size: 16px;
    }
    
    .info-up-mobI .ex{
        font-size: 15px;
        margin-left: 22px;
    
    }
    
    .info-down-mobI{
        width: 100%;
        height: 200px;
    }

    .info-down-mobI h1{
        font-size: 16px;
    }
    
    .info-down-mobI .ex{
        font-size: 15px;
        margin-left: 22px;
    
    }

    .savoir-mobI{
        width: 80%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .savoir-faire-contentIpa-mob{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .savoir-faire-contentIpa-mob h1{
        color: #970101;
        font-size: 18px;
    }
    
    .savoir-faire-infoIpa-mob {
        width: 91%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .savoir-faire-infoIpa-mob p{
        font-size: 15px;
    }
    
}